<br />
<ul class="pageStatus">
    <li><label for="EventTitle" style="display: inline">Event Title:</label><span id="EventTitle">@Model.EventTitle</span></li><br />
    <li><label for="EventDescription" style="display: inline">Event Description:</label><span id="EventDescription">@Model.EventDescription</span></li>
</ul>
